@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-5">
        <partial Name="RegisterPartial"></partial>
    </div>
    <div class="col-sm-5">
        <partial Name="LoginPartial"></partial>
    </div>
</div>